# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.pyc

# Model & Graph Files
*.pkl
*.bin

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Environment Variables
.env
